# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
target/
**/target/

# Environment variables
.env
.env.*
!.env.example

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
